Django
djangorestframework
django-rest-auth
django-rest-swagger
dj-rest-auth
django-allauth
django-crispy-forms
drf-yasg
django-humanize
psycopg2-binary
pillow
six
requests
django-rest-friendship
django-model-utils
